body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: calc(100vw - 50%);
  margin: 0;
  padding: 0 25%;

  font-family: 'Manrope', sans-serif;

  background-color: #eef2f7;
}

.card-container {
  display: flex;
  width: 100%;

  border-radius: 0.5rem;
  background-color: whitesmoke;

  box-shadow: 0 0 1.5rem #dee5ed;
}

.card-container > img {
  height: inherit;
  width: 40%;

  border-radius: 0.5rem 0 0 0.5rem;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center center;
}

.card-container > div {
  display: flex;
  flex-direction: column;

  flex: 1;

  padding: 2rem;
}

.contact-container {
  display: flex;
  align-items: center;

  margin-top: 1.2rem;
}

.contact-container > img {
  height: 3rem;
  width: 3rem;

  border-radius: 50%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center center;
}

.contact-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 1rem;
}

.contact-container .share-icon {
  display: grid;
  place-items: center;

  position: relative;

  height: 2.5rem;
  width: 2.5rem;
  margin-left: auto;

  border-radius: 50%;

  background-color: #eef1f9;

  cursor: pointer;

  transition: all 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.share-tooltip {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  top: -3.5rem;

  width: 10rem;
  padding: 0.5rem;

  color: #818b9f;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;

  border-radius: 0.5rem;
  background-color: #4b5569;
}

.share-tooltip > img {
  height: 1rem;
  width: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 1rem;

  text-align: center;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

.slide-in {
  animation: slideUp 1s ease-in-out;
}

.slide-out {
  animation: slideDown 1s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(2rem);
  }
}

@media screen and (max-width: 815px) {
  body {
    width: calc(100vw - 20%);
    padding: 0 10%;
  }

  .card-container {
    flex-direction: column;
  }

  .card-container > img {
    height: 40%;
    width: 100%;

    border-radius: 0.5rem 0.5rem 0 0;
  }

  .card-container > div {
    padding: 1.5rem;
  }

  .contact-container {
    position: relative;
  }

  footer {
    position: relative;

    margin: 1rem;

    font-size: 0.8rem;
    text-align: center;
  }

  .share-tooltip {
    flex-direction: row !important;
    justify-content: space-evenly !important;
    top: 0 !important;
    bottom: -1.5rem;

    height: 3.5rem;
    width: calc(100% + 2rem);
    margin-left: -1.5rem !important;

    animation: none;
    border-radius: 0 0 0.5rem 0.5rem !important;
  }

  .close-icon {
    display: grid;
    place-items: center;

    height: 2rem;
    width: 2rem;

    margin: 0 0.5rem 0 1rem;

    border-radius: 50%;

    background-color: #718095;

    cursor: pointer;
  }
}
